@model nakazadde.Models.Video

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_nakazade.cshtml";
}


<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center text-uppercase"> @Html.DisplayFor(model => model.Name) </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list"
                               data-toggle="list" href="#list-home" role="tab">VIDEO </a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                               href="#list-profile" role="tab">MORE INFOMATION</a>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active align-center" id="list-home" role="tabpanel"
                                 aria-labelledby="list-home-list">
                                <div class="video-frame">
                                    <video id="VideoPlayer" src='@Url.Action("DownloadFile", "Videos", new {fileId = Model.Id})' controls="true"
                                           style="width:100%; height:auto; " loop="true" />
                                </div>

                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                 aria-labelledby="list-profile-list">
                                OVERVIEW <br />
                                @Html.DisplayFor(model => model.ShortNotes) <br />
                             
                                <div class="card-footer">

                                    @Html.DisplayFor(model => model.Description)
                                    <br />
                                    <p class="text-success">DATE POSTED:    @Html.DisplayFor(model => model.DatePosted)</p>
                                    BY: <p class="text-success"> @Html.DisplayFor(model => model.UserId)</p>
                                </div>
                                <div class="card-body text-center">

                                    @Html.ActionLink("Back", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
