@model IEnumerable<nakazadde.Models.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_nakazade.cshtml";
}


<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4> UPLOAD PRODUCT</h4>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalCenter">
                    UPLOAD PRODUCT
                </button>
            </div>
        </div>
    </div>

    <div class="modal fadeIn" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">PRODUCT UPLOAD </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">product Name</label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" name="Title" class="form-control">

                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">product description</label>
                                <div class="col-sm-12 col-md-7">
                                      <textarea class="summernote-simple" name="Description"></textarea>
                                  

                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">product price</label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="number" name="price" class="form-control">

                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Product image</label>

                                <input type="file" name="postedFile" />
                            </div>

                            <div class="form-group row mb-4">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                <div class="col-sm-12 col-md-7">
                                    <input type="submit" class="btn btn-primary" value="UPLOAD" />
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>
@if (TempData["details"] != null)
{
    <script>
    swal("ADDED TO CART SUCCESSFULL", "@TempData["details"]", "success");
    </script>


}
else
{
    <script>
    swal("ERROR", "@TempData["error"]", "error");
    </script>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">

                    <img src='@Url.Action("DownloadFile", "products", new {fileId = item.id})' class="img-responsive img-fluid" style="border-radius:5px;" />

                    <br /> <br />
                    PRODUCT - @Html.DisplayFor(modelItem => item.Title)
                    <br />
                    PRICE - @Html.DisplayFor(modelItem => item.price)
                <div class="card-footer">

                    <button class="btn btn-primary" onclick="addtocart(@item.id)">
                        Add to Cart
                    </button>

                    |
                    <button class="btn btn-primary"  lass="btn btn-primary" data-toggle="tooltip" data-placement="top"
                       title="View Details + checkout">
                        Details
                    </button>
                   
                </div>
                </div>


            </div>
        </div>

    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
